{# Arquivo: src/_includes/macros/card.njk #} {% macro modCard(mod, versao) %}
<div class="card" data-categories="{{ mod.categorias | join(' ') }}">
    <div class="card-top">
        {% if mod.icone %} {% remoteImage mod.icone, "Ícone de " + mod.nome,
        "mod-icon" %} {% else %}
        <div class="mod-icon" style="background-color: var(--cor-borda)"></div>
        {% endif %}
        <h3>{{ mod.nome }}</h3>
    </div>

    {% if mod.categorias.length %}
    <p class="tags">
        {% for cat in mod.categorias %}
        <span class="badge">{{ cat | categoriaBonita }}</span>
        {% endfor %}
    </p>
    {% endif %} {% if mod.descricao %}
    <p class="descricao">{{ mod.descricao }}</p>
    {% endif %}

    <div
        class="card-footer {% if (mostrarRepositorio or versao == null) and mod.repo %}duplo{% endif %}"
    >
        {% set downloadUrl = "https://modrinth.com/mod/" + mod.slug %} {% if
        versao and mod.version_map[versao] %} {% set downloadUrl =
        "https://modrinth.com/mod/" + mod.slug + "/version/" +
        mod.version_map[versao] %} {% endif %}

        <a
            class="card-button {% if not ((mostrarRepositorio or versao == null) and mod.repo) %}full{% else %}left{% endif %}"
            href="{{ downloadUrl }}"
            target="_blank"
            rel="noopener noreferrer"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" y1="15" x2="12" y2="3" />
            </svg>
            <span>Download</span>
        </a>

        {% if (mostrarRepositorio or versao == null) and mod.repo %}
        <a
            class="card-button right"
            href="{{ mod.repo }}"
            target="_blank"
            rel="noopener noreferrer"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path
                    d="M9 19c-4.3 1.4 -4.3-2.5 -6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.5-.9 1.2-.9 2.2v3.5"
                />
            </svg>
            <span>Repositório</span>
        </a>
        {% endif %}
    </div>
</div>
{% endmacro %}